@charset "UTF-8";

@media screen and (max-width: 768px) {
    div.menu > nav > ul > li > a {
        font-size: 12px;
    }
    div.info1{
        width: 100vw;
        height: 81.8vh;
    }
    div.info1 h1{
        font-size: 20px;
        text-indent: 30px;
    }
    div.info1 p{
        font-size: 12px;
    }

    .info_tittle {
        height: 10%;
        font-size: 25px;
        padding: 10px;
    }
    section.info2 {
        position: relative;
        padding-top: 15px;
        width: 100vw;
        height: 88vh;
    }
    section.info2 > img {
        width: 200px;
        height: 200px;
        position: absolute;
        margin: auto;
        top: 0; bottom: 55%;
        left: 0; right: 0;
    }
    section.info2 > p {
        display: block;
        margin-top: 60px;
        width: 80vw;
        font-size: 14px;
        text-indent: 15px;
        text-align: justify;
    }
    section.info3 {
        position: relative;
        padding-top: 20px;
        width: 100vw;
        height: 88vh;
    }
    section.info3 > img {
        width: 200px;
        height: 200px;
        position: absolute;
        margin: auto;
        top: 0; bottom: 60%;
        left: 0; right: 0;
    }
    section.info3 > p {
        display: block;
        margin-top: 120px;
        width: 80vw;
        font-size: 16px;
        text-indent: 15px;
        text-align: justify;
    }

    section.perso {
        display: none;
    }

    iframe {
        display: block;
        height: 90vh;
        width: 100vw;
    }

    .material-symbols-outlined {
        display: block;
        position: absolute;
        margin: auto;
        text-decoration: none;
        font-size: 75px;
        color: #bda169;
        right: 40%; bottom: 12%;
        opacity: 75%;
    }
    .material-symbols-outlined:hover {
        opacity: 100%;
    }
    #step2 {
        height: 100vh;
    }
    #step2 p {
        margin-top: 150px;
    }
    
}


